<?xml version="1.0"?>
<launch>

  <arg name="modelfile"
    default="$(find mujoco_contact_surface_sensors)/assets/myrmex_surface_world.xml" />

  <rosparam file="$(find mujoco_contact_surface_sensors)/config/myrmex_sensor.yaml"
    subst_value="true" />

  <include file="$(find mujoco_ros)/launch/launch_server.launch" pass_all_args="true" >
    <arg name="console_config_file" value="$(find mujoco_contact_surface_sensors)/rosconsole.config" />
    <arg name="/use_sim_time" value="true" />
  </include>
</launch>