<?xml version="1.0"?>
<launch>

  <arg name="modelfile"   default="$(find mujoco_contact_surfaces)/assets/box_on_box_world.xml"  />

  <rosparam file="$(find mujoco_contact_surfaces)/config/mujoco_contact_surfaces.yaml" subst_value="true" />

  <include file="$(find mujoco_ros)/launch/launch_server.launch" pass_all_args="true" >
    <arg name="/use_sim_time"        value="true" />
    <arg name="headless"             value="false" />
  </include>
</launch>
